<nav class="navbar navbar-dark bg-primary">
  <div class="container">

    <!-- <a class="navbar-brand">
      {{'Sitetitle' | translate }}
    </a> -->
    
    <span>
      <a class="navbar-brand" routerLink="/home">{{'LINKS.home' | translate }}</a>
      <a class="navbar-brand" routerLink="/form">{{'LINKS.form' | translate }}</a>
    </span>

    <span class="form-inline">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
          [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>
